@import "tailwindcss";

@theme  {
  --font-main1:var(--font-outfit);
  --font-main2:var(--font-ovo);
  --color-lightHover:#fcf4ff;
  --color-darkHover:#2a004a;
  --color-darkTheme:var(--background); 
  --color-lightText:var(--text);
  --color-grayText:var(--textDes);
  --color-ptags:var(--textparagrah)
}

:root{
--background:#ffffff;
--text:#1a1a1a;
--textDes: #4a5565;
--textparagrah:#d1d5dc;
}
.dark{
  --background:#11001f;
  --text:#ffffff;
  --textDes:#ffffff;
  --textparagrah:#ffffff;
}



/* @layer components{
    .auto{
      @apply repeat(auto-fit,minmax(200px,1fr));
    }
}

@utility my-auto-layout{
  display:grid;
  
} */





